<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeReportTracker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeReportTracker.Settings>
            <setting name="IAPMO" serializeAs="String">
                <value>https://www.iapmoes.org/uniform/building-products-evaluation-program/evaluation-report-directory</value>
            </setting>
            <setting name="ICCES" serializeAs="String">
                <value>https://icc-es.org/evaluation-report-program/reports-directory/</value>
            </setting>
            <setting name="LADBSRR" serializeAs="String">
                <value>https://www.drjcertification.org/ter-directory</value>
            </setting>
        </CodeReportTracker.Settings>
    </userSettings>
</configuration>